<!DOCTYPE html>

<head>
  <title>Aesthetic Roulette</title>
</head>

<body>
  <h1 class="text-center">
    Welcome to Aesthetic Roulette<br>
    <small>Full site coming soon</small>
  </h1>
  <h2>
</body>