<% content_for :head do %>
   <%= stylesheet_link_tag :static_pages -%>
<% end %>

<div class="landing-page">
  <h1 class="text-center">
    Welcome to Aesthetic Roulette<br>
    <small>Full site coming soon</small>
  </h1>
</div>
