<!DOCTYPE html>

<head>
  <title>Aesthetic Roulette</title>
</head>

<body>
  <div class="vertical-align-outer">
    <div class="vertical-align-inner">
      <h1 class="text-center">
        Welcome to Aesthetic Roulette<br>
        <small>Full site coming soon</small>
      </h1>
    </div>
  </div>
</body>